# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Pipenv
Pipfile.lock

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# pycache and test artifacts
.cache/
.pytest_cache/
