{% extends "shop/index.html" %}
{% load static %}

{% block content %}
{% if artikels %}
  <div class="row mt-4">
    <div class="col-12">
      <div class="shadow p-2 mb-4">
        <div class="d-flex">
          <h3 class="me-auto fw-bold p-2">Warenkorb</h3>
          <p class="fw-bold p-2">Gesamtpreis: {{bestellung.gesamt_summe|floatformat:2}} €</p>
          <p>
            <a href="{% url 'kasse' %}" class="btn btn-danger">Kasse</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="shadow p-2 mb-4">

        <table class="table table-striped table-hover">
          <thead class="table-title" style="background-color: red;">
            <tr>
              <th scope="col" style="background-color:red;">Nr.</th>
              <th scope="col">Bild</th>
              <th scope="col">Artikel</th>
              <th scope="col">Menge</th>
              <th scope="col">Preis</th>
              <th scope="col">Summe</th>
              <th scope="col">Aktion</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for artikel in artikels %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>
                  {% if artikel.artikel.bild %}
                    <img src="{% static artikel.artikel.bild %}" alt="" width="50" height="50">
                  {% else %}
                    <img src="{% static 'bilder/dummy.jpg' %}" alt="" width="50" height="50">
                  {% endif %}
                </td>
                <td>{{artikel.artikel.name}}</td>
                <td>{{artikel.menge}}</td>
                <td>{{artikel.artikel.preis|floatformat:2}} €</td>
                <td>{{artikel.get_summe|floatformat:2}} €</td>
                <td>
                  <button data-artikel={{artikel.artikel.id}} data-action="entfernen" 
                    class="btn btn-outline-danger warenkorb-bestellen">-</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% else %}
  <h2>Dein Warenkorb ist leer!</h2>
{% endif %}
{% endblock content %}
